
/* footer___________________________ */

html, body {
  height: 100%
}

/* .wrap {
  min-height: 100%;
  position: relative;
  padding-bottom: 160px;
} */

footer{
  width: 100%;
  height: 450px;
  background-color: #111;
  position: relative;
  bottom: 0;
}

.footer_content{
  width: 1300px;
  height: inherit;
  margin: auto;
}

/* 풋터 왼,오 */
.footer_lr{
  display: flex;
  width: 100%;
  height: 350px;
  justify-content: space-between;
}

/* left */
.footer_left img{
  width: 170px;
  margin: 50px 0 30px 0;
}

.footer_left ul {display: flex;}
.footer_left ul li {
  font-size: 16px;
  font-weight: 600;
  color: #CCC;
  margin-right: 30px;
  margin-bottom: 50px;
  transition: 0.3s;
}
.footer_left ul li:hover{ color: #FF9A23;}

.footer_left p{
  font-size: 14px;
  color: #bbb;
  line-height: 25px;
}
.footer_left p em{
  color: #F7701E;
  font-style: normal;
  font-weight: 400;
}

/* right */
.footer_right select{
  border: 1px solid #eee;
  background-color: transparent;
  outline: none;
  color: white;
  width: 280px;
  height: 50px;
  font-size: 18px;
  margin: 30px 0 30px 0;
  padding: 0 20px;
  background-color: #111;
}

.footer_right_icon img{
  /* border: 1px solid yellow; */
  width: 50px;
  margin-right: 15px;
  font-size: 18px;
}

/* 주소 */
address{
  /* border: 1px solid yellow; */
  height: 80px;
  color: #8A8A8A;
  font-size: 12px;
  font-style: normal;
  top: 30px;
  line-height: 20px;
}