
/* header */
header{
  width: 100%;
  height: 80px;
  position: relative;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
nav{
  width: 1300px;
  height: inherit;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logo */
nav h1 {flex: 2;}
nav h1 img{width: 160px;}

/* 메인메뉴 */
.gnb{
  height: 80px;
  flex: 8;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}
.gnb>.main{width: 150px;}

.gnb>.main>a{
  display: block;
  position: relative;
  width: inherit;
  height: 80px;
  line-height: 80px;
  color: white;
  font-size: 18px;
	font-weight: 500;
  transition: 0.2s;
}

.gnb>.main>a::before{ /*주황색 바 */
  content: '';
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background-color: #FF9A23;
  transition: 0.3s;
}

/* 주메뉴 글자, 서브메뉴 글자 */
.gnb> .main:hover>a{color:  #FF9A23;}
.gnb>.main a:hover{color: #FF9A23;}

/* 주황색바 */
.sub>li:hover .gnb>.main>a::before{width: 100%;}
.gnb>.main>a:hover:before{width: 100%;}


/* 서브메뉴 */
.sub{
  display: none;
  position: absolute;
  z-index: 100;
  top: 100%;
  background-color: transparent; /* 개별서브 배경 */
  width:150px;
  height: 220px;
}
.sub li{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub li a{transition: 0.2s;}
.sub_bgbox{ 
  display:none;
  position: absolute;
  top: 100%;
  left: 0;
	width:100%;
	height:220px; 
  background-color:rgba(255, 255, 255, 0.75); /* 전체서브 배경 */
}
.main>.sub li a:hover{color: #E35C0A;}




/* search  */
.search {margin: 20px;}

.search > h3 {font-weight: normal;}


.search > div {
  display: inline-block;
  position: relative;
}

.search > div:after {
  content: "";
  background: #FF9A23;
  width: 2px;
  height: 10px;
  position: absolute;
  top: 25px;
  right: 2px;
  transform: rotate(140deg);
}

.search > div > input {
  color: white;
  font-size: 12px;
  background: transparent;
  width: 6px;
  height: 6px;
  padding: 10px;
  border: solid 2px #FF9A23;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: rgba(255, 154, 35, 0.7);
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 200px;
}


/* 햄버거 */
.allmenu{
  flex: 1;
  /* border: 1px solid red; */
  position: relative;
  width: 35px;
  height: 20px;
}
.trigger{
  /* border: 1px solid blue; */
  width: 35px;
  height: 20px;
  padding-left: 10px;
  cursor: pointer;
  position: absolute;
  top: 0;
  z-index: 100;
}
.trigger span{
  position: absolute;
  width: inherit;
  height: 2px;
  background-color: white;
  transition: 0.3s;
}
.trigger span:nth-child(1){top: 0;}
.trigger span:nth-child(2){top: 50%;}
.trigger span:nth-child(3){top: 100%;}

.trigger.active span:nth-child(1){top: 50%;transform: rotate(45deg);}
.trigger.active span:nth-child(2){opacity: 0;}
.trigger.active span:nth-child(3){top: 50%;transform: rotate(-45deg);}

/* sitemap */
.header_modal{
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.header_sitemap{
  width: 1000px;
  height: 400px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
	transform: translate(-50%,-50%);
  line-height: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.header_sitemap p{ 
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: inherit;
  text-align: center;
  font-size: 12px;
  line-height: 22PX;
}
.header_sitemap p em{
  color: #ff7b23;
  font-style: normal;
  font-weight: 500;
}


.header_sitemap_list{
  display: flex;
	padding-top: 50px;
}
.header_sitemap_list>li>a:nth-of-type(1){
  display: block;
  font-size: 24px;
  color: #FF9A23;
  font-weight: 600;
  margin-bottom:20px;
  text-align: center;
  justify-content: center;
}
.header_sitemap_list li{
  top: 30px;

}
.header_sitemap_list>li{
	flex: 1;
	height:220px;
	padding:20px 0 ;
	border-left:1px solid #bbb;

}
.header_sitemap_list>li:nth-of-type(1){border-left: none;}

.site_sub{
  text-align: center;
  width: inherit;
  font-size: 18px;
  font-weight: 500;
  color: #555;
}
.site_sub li{
margin-bottom: 20px;
transition: 0.3s;
}
.site_sub li:hover{color: #ff7b23;}

